[submodule "vendor/jconfig"]
	path = vendor/jconfig
	url = https://github.com/GroundSix/jconfig.git
[submodule "vendor/pb"]
	path = vendor/pb
	url = https://github.com/gopac/pb.git
[submodule "vendor/cobra"]
	path = vendor/cobra
	url = https://github.com/GroundSix/cobra.git
[submodule "vendor/pflag"]
	path = vendor/pflag
	url = https://github.com/GroundSix/pflag.git
[submodule "vendor/go.crypto"]
	path = vendor/go.crypto
	url = https://github.com/GroundSix/go.crypto.git
[submodule "vendor/color"]
	path = vendor/color
	url = https://github.com/GroundSix/color.git
